
/* フォームリセットボタン */
.reset-btn {
    padding-right:10px!important;
}

/* 検索条件ボタン */
/* .btn-dropbox { */
.btn-group {
  margin-top:20px;
}

.box-body, .box-footer {
    border: none !important;
    /* border-bottom: 1px solid #696969 !important; */
    /* padding-bottom: 10px; */
}

/* フィルタ（検索）の下線非表示 */
.with-border {
  border-bottom: none !important;
}

/* グリッドの全体位置調整　※レスポンシブ必須 */
.grid-box {
    padding-right:100px;
    padding-left:100px;
    /* border-top: none; */
}





/* 一覧表のタイトルへ色付け */
thead {
    background-color: #3c8dbc2a !important;
    /* color: #fff; */
}

tr {
    border-top: none !important;
    border-bottom: 1px solid #f4f4f4 !important;
}


/* マスタ同期ボタン */
.btn-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
}

.btn-chain {
    width: 30%;
}

.chain-result {
    margin-bottom: 30px;
}


/* アレルギー用スタイル */
/***　奈良カラー　***/

    .allergy {
        table-layout: fixed;
        text-align: left;
    }


    /* ヘッダー */
    thead.allergy-title th {
        /* background:#696969; */
        /* font-weight: bold; */
        /* color:#fff; */
        text-align: center;
        padding: 5px 35px;
        width: 100%

    }

    thead.allergy-title th:first-child {
        width: 10px;
    }

    /* ボディ項目・フッター項目 */
    .allergy tbody th
    {
        /* background:#FFF; */
        padding: 10px;
    }

    /* ボディデータ・フッターデータ */
    .allergy tbody td,
    .allergy tfoot td {
        text-align:center;
        padding: 10px;
    }


    /* 偶数行　１行ごとの色変えが不要なら削除 */
    /* .allergy tr:nth-child(2n) th, 
    .allergy tr:nth-child(2n) td { */
        /* background: #FBFBF6; */
    }

    .allergy-add th {
        padding: 30px!important;
    }





/* モーダルウィンドウ */
    .modal-window {
        display:none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 90%;
        background-color: #ffffff;
        border-radius: 5px;
        z-index: 9000;
        padding: 2rem;
        overflow-y: auto;
    /* overflow-y: scroll; */
    }

    /* モーダルウィンドウ02*/
    .modal-window-02 {
        display:none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25%;
        height: 80%;
        background-color: #ffffff;
        border-radius: 5px;
        z-index: 9001;
        padding: 2rem;
        overflow-y: auto;
        /* overflow-y: scroll; */
    }

    /* 閉じるボタン */
    .button-close {
        left: 90%;
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 20px;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 8000;
    }
    

    .p-img {
        border: solid 1px #696969;
        ;height: 100%;
    }


    /* モバイル販売管理のダイアログ */
    input.dialog{
        width: 120px;  
    }



/* フォームの最終項目だけ反映 */
.form-group:last-child {
    margin-bottom:0;
}



.explain {
    margin-top:30px;
}


/* 削除ボタン */
.btn-danger {
    background-color: rgba(255, 0, 0, 0.651);
}


/* カレンダー */

table.calender th {
    background-color: #696969;
    text-align: center;
    color: #fff;
}

table.calender th.sun {
    background-color: rgba(255, 0, 0, 0.651);
}

table.calender th.sat {
    background-color: rgba(67, 102, 255, 0.842);
}

table.calender td.sun {
    color: red;
}

table.calender td.sat {
    color: blue;
}



/* 検索ボックス */
/* @media (min-width: 768px){ */
    /* .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
        width: 100%;
        text-align: left;
    } */
/* } */

/* @media (max-width: 1690px){ */
    /* .form-horizontal .control-label {
        text-align: left;
    }
} */


form label {
    margin-bottom: 5px!important;
}


.form-group {
    margin-left: 5%!important;
    font-size: 12px;
    /* margin-bottom: 30px!important; */
}



/* モバイル販売管理の劇場選択 */
.theater-search {
    width: 400px;
}


.col-md-3 {
    padding-left:0;
}


.col-md-8 {
    padding-right:0;
    padding-left:0;
    margin-bottom:20px;
    width: 58%;
}



table {
    padding-right:100px!important;
    padding-left:100px!important;
}





/* ---------------------------- */
/* --- トグルボタン式のチェックボックス --- */
/* ---------------------------- */
.ItemBox{
    margin-bottom: 20px; /* なくてもOK */
}

.ItemBox-CheckBox{
    margin-top: 10px;
    display: flex;
    /* align-items: left; */
}

.ItemBox-CheckBox-Title {
    font-weight:bold;
    padding-top:2px;
}


.ItemBox-CheckBox-Input{
    display: none; /* inputタグ（✔は非表示にする */
}

.ItemBox-CheckBox-Label{
    position: relative;
    margin-left: 15px;
    width: 47px;
    height: 24px;
    border-radius: 80px;
    background: #d0d2d9; /* チェックされていない時の背景色 */
    cursor: pointer;
    transition: .2s ease; /* 円が動くスピードを指定 */
}

.ItemBox-CheckBox-Input:checked + .ItemBox-CheckBox-Label{
    background: #41c9b4; /* チェックされた時の背景色 */
}

.ItemBox-CheckBox-Label:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 80px;
    width: 20px;
    height: 20px;
    background: #fff;
    transition: .2s ease; /* 円が動くスピードを指定 */
}

.ItemBox-CheckBox-Input:checked + .ItemBox-CheckBox-Label:before{
    left: 25px;
}


/* タブ */
.area {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
  }
   
  .tab_class {
    width: calc(100%/2);
    height: 50px;
    background-color: darkgrey;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
  }
   
  input[name="tab_name"] {
    display: none;
  }
   
  input:checked + .tab_class {
    background-color: #fff;
    /* color: aliceblue; */
  }
   
  .content_class {
    display: none;
    width: 100%;
  }
   
  input:checked + .tab_class + .content_class {
    display: block;
  }


  /* プレビュー内(モバイル) */

  .preview-box{
    border:1px solid #dcdcdc!important;
    box-shadow: 2px 2px 4px #dcdcdc;
    border-radius: 5px;
    /* margin-bottom:20px; */
    /* height:250px; */
  }

  .preview{
    margin-top:25px;
    margin-left:8px;
  }

  .preview-info{
    height:70px;
    margin-left:8px;
    margin-top:10px;
  }

  /* プレビュー内(セルフ) */

  .preview-box{
    border:1px solid #dcdcdc!important;
    box-shadow: 2px 2px 4px #dcdcdc;
    border-radius: 5px;
    /* margin-bottom:20px; */
    /* height:250px; */
  }

  .preview{
    margin-top:25px;
    margin-left:5px;
  }

  .preview-info-self{
    font-size:12px;
    height:55px;
    margin-left:5px;
    margin-top:5px;
  }



  /* 画面をグレーアウト */
  .gray-out{
    background: rgba(0, 0, 0, .5); /* 背景色を半透明の黒色に */
    width: 100%; /* 要素の横幅を画面全体に */
    height: 100%; /* 要素の高さを画面全体に */
    top: 0; /* 要素の固定位置をブラウザ最上部に合わせる */
    left: 0; /* 要素の固定位置をブラウザ左側に合わせる */
    z-index: 1000; /* 要素をコンテンツより前面に（要調整） */
}




textarea {
    resize: none;
  }



  /* .select2-container .select2-selection--single{
    width:374px;
  } */




/* KINEZO合わせ */
  .col-sm-2, .col-sm-1 {
    font-weight: 200;
    font-size: 12px;
  }

  .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12px;
  }

  .skin-blue-light .sidebar-menu > li > a {
    font-weight: 200;
    font-size: 12px;
  }

  .sidebar-menu .treeview-menu > li > a {
    font-size: 12px;
  }

  .form-horizontal .control-label {
    text-align: left;
  }

  table {
    font-size:12px;
    font-weight: 100;
  }

  body {
    font-size: 12px;
    font-family: "メイリオ"!important;
  }

  form label.down {
    margin-top: 8px!important;
}

 {
    border: 3px green solid;
}



/* オーダー用紙管理 */
.checkbox-inline{
    margin-right:20px;
}

.icheckbox_minimal-blue:last-child{
    margin-right:10px;
}




.red-plus{
    font-weight: ;
    color:#fff;
    font-size:13px;
    background-color: #c51d1d;
    padding:6px 15px;
    margin-top: -15px;
    border-radius: 5px;
}



.sub-msg {
    margin-top: 7px;
    color:red;
    font-size:11px;
}

.red {
    color:red;
}






    /* テーブル色変更 */
    th {
        color: #fff!important;
        background-color: #4682b4;
    }

    table td {
        background: #eee;
    }

    table tr:nth-child(odd) td {
        background: #fff;
    }

    table {
        border:1px solid #dcdcdc;
    }

    a.fa {
       color:#fff!important; 
    }


    /* テキストエディタ */
    .cke_top, .cke_bottom, .cke_toolbar {
        background: #f5f5f5 !important;
    }