/* フォームリセットボタン */
.reset-btn {
    padding-right:10px!important;
}

/* 検索条件ボタン */
/* .btn-dropbox { */
.btn-group {
  margin-top:10px;
}

.box-footer {
    border-top: none !important;
}

/* フィルタ（検索）の下線非表示 */
.with-border {
  border-bottom: none !important;
}

/* グリッドの全体位置調整　※レスポンシブ必須 */
.grid-box {
    padding-right:100px;
    padding-left:100px;
}

/* 一覧表のタイトルへ色付け */
thead {
    background-color: rgb(243, 243, 243) !important;
}

tr {
    border-top: none !important;
    border-bottom: 1px solid #f4f4f4 !important;
}


/* マスタ同期ボタン */
.btn-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
}

.btn-chain {
    width: 50%;
}

.chain-result {
    margin-bottom: 30px;
}